---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import PricingCard from "@/components/pricing.astro";

const pricing = [
  {
    name: "Mowing",
    price: "Flat Rate",
    popular: false,
    features: [
      "Professional Lawn Mowing",
      "Precision Edging Around Walkways",
      "Grass height Customized to Season",
      "Reliable Scheduling",
      "Affordable Flat Rate Pricing",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
  {
    name: "Landscaping Jobs",
    price: "$75/hr",
    popular: false,
    features: [
      "Professional Edging and Trimming",
      "Mulch Laying and Bed Preparation",
      "Season yard Cleanups (Spring & Fall)",
      "Weed Removal and Prevention",
      "General Landscaping Support",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
  {
    name: "Enterprise Plan",
    price: "Custom",
    popular: false,
    features: [
      "All Landscaping Services Included",
      "Custom Contracts Available",
      "Priority Scheduling",
      "Dedicated Support",
      "Commercial Property Maintenance",
      "Bulk Project Pricing Options",
    ],
    button: {
      text: "Get Started",
      link: "/contact",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc">
        You'll always know what you're paying for — before the job begins.
      </Fragment>
    </Sectionhead>

    <div
      class="grid md:grid-cols-3 gap-10 mx-auto max-w-(--breakpoint-lg) mt-12 items-stretch">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
