<!-- <footer class="my-20">
  <p class="text-center text-sm text-gray-400">
    Copyright Â© {new Date().getFullYear()} Hampton Lawn Solutions. All rights reserved.
  </p> --><!--
    Can we ask you a favor ðŸ™
    Please keep this backlink on your website if possible.
    or Purchase a commercial license from https://web3templates.com
  --><!-- <p class="text-center text-xs text-slate-500 mt-1">
    Made by <a
      href="https://web3templates.com"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      Web3Templates
    </a>
  </p> --><!-- </footer> -->
<footer class="bg-stone-950 text-gray-400 py-10 mt-20">
  <div class="max-w-7xl mx-auto px-4 text-center">
    <div class="flex justify-center space-x-8 mb-6">
      <a href="/" class="hover:text-white transition">Home</a>
      <a href="/pricing" class="hover:text-white transition">Pricing</a>
      <a href="/contact" class="hover:text-white transition">Contact</a>
    </div>

    <p class="text-xs mt-4 text-gray-500">
      Copyright Â© 2025 Hampton Lawn Solutions. All rights reserved.
    </p>
  </div>
</footer>
