---
import { Picture } from "astro:assets";
import heroImage from "@/assets/Hampton-Lawn-Solutions.png";
import Link from "@/components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 order-2 md:order-1">
    <Picture
      src={heroImage}
      alt="Hampton Lawn Solutions logo"
      widths={[300, 500, 700, 900]}
      sizes="(max-width: 1024px) 100vw, 700px"
      loading="eager"
      format="avif"
      class="w-full max-w-[500px] lg:max-w-[600px] xl:max-w-[700px] mx-auto"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl text-white-700 font-bold lg:tracking-tight xl:tracking-tighter">
      Fresh Cuts, Cleaner Yards, <span class="text-green-600"
        >Happier Homes.</span
      >
    </h1>
    <p class="text-lg mt-4 text-stone-300 max-w-xl">
      Reliable, affordable and professional lawn care — proudly serving Berrien
      County<wbr /> and surrounding areas.
    </p>
  </div>
</main>
