---
import { SEO } from "astro-seo";
import Footer from "@/components/footer.astro";
import Navbar from "@/components/navbar/navbar.astro";
import "@fontsource-variable/inter/index.css";
import "@fontsource-variable/bricolage-grotesque";
import "../styles/global.css";

export interface Props {
  title: string;
}

const resolvedImageWithDomain = new URL(
  "/hampton-lawn-solutions.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Hampton Lawn Solutions"
  : "Hampton Lawn Solutions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Hampton Lawn Solutions.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- <link rel="preload" as="image" href={src} alt="Hero" /> -->
    <SEO
      title={makeTitle}
      description="Hampton Lawn Solutions is a lawn care company that provides professional lawn maintenance services to homeowners in the area. We specialize in mowing, trimming, edging and more."
      openGraph={{
        basic: {
          url: "https://hamptonlawnsolutions.com",
          type: "website",
          title: `Hampton Lawn Solutions`,
          image: resolvedImageWithDomain,
        },
        image: {
          alt: "Hampton Lawn Solutions",
        },
      }}
    />
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
    <style is:global>
      /* Improve Page speed */
      /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
      img {
        content-visibility: auto;
      }
    </style>
  </body>
</html>
